.heart {
  display: inline-flex;
}

.active-heart {
  fill: #fcb5b5;
  stroke: #fcb5b5;
}

.product {
  border-radius: 1rem;
  border: 1px solid #cf8e80;
  padding: 1rem;
  background-color: #faf6f6;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.products-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
